<form ng-submit="login.login()">
    <!--<ul>
        <li ng-repeat="message in login.validationMessages">
            {{message}}
        </li>
    </ul>-->
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-6">
                <label>Email</label><input ng-model="login.loginUser.userName" class="form-control" type="text" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Password</label><input ng-model="login.loginUser.password" class="form-control" type="password" placeholder="Password" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="login.cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>

