<html ng-app="MyApp">
<head>
    <base href="/" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container allBodies">
        <div class="row" id="pageHeader">
            <div class="col-md-12 ">
                <img id="mainLogoImg" src="http://i.imgur.com/ibOyOnT.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs mainNav">
                    <li role="presentation"><a href="/home">Home</a></li>
                    <li role="presentation"><a href="/profile">Profile</a></li>
                    <li role="presentation"><a href="/explore">Explore</a></li>
                </ul>
            </div>
        </div>
        <div ng-view>


        </div>
    </div>



   

    <!--Bootstrap stuff-->
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!--Angular stuff-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <!--Files created by me-->
    <script src="~/ngApp/ngApp.js"></script>
    <script src="~/ngApp/Controllers/appControllers.js"></script> <!--In this order-->
</body>
</html>
