<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">About us</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Mixed Up was created in early 2016 by a developer named Duran Gradwell. He created this, his first website, to fulfill a dream of his own, which was to create a community where new sound engineers, producers and musicians could review, advise and compare mixes with eachother, with a focus on giving mentorship to newcomers who wish they knew how to sound better. With the tools available, anyone can get a quick glance at the gear one uses and their recording environment to be able to give informed advice with no unnecessary questions of clarification clogging up each post. </p>
    </div>
</div>


