<div class="row">
    <div class="col-md-12">
        <div class="page-header myPageHeader text-center">
            <h1>Admin Page</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Users</h1>
        <table class="table table-bordered table-responsive myTable">
            <thead>
                <tr>
                    <th>Display Name</th>                   
                    <th>Email</th>
                    <th>Email Verified</th>
                    <th>User Since</th>
                    <th>Status</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in admin.adminResource.users">
                    <td><a href="" ng-click="admin.getUserProfile(user.displayName)" style="cursor: pointer">{{user.displayName}}</a></td> 
                    <td>{{user.email}}</td>
                    <td>{{user.emailConfirmed}}</td>
                    <td>{{user.memberSince | date: YYYY:mm:dd}}</td>
                    <td>{{user.status}}</td>
                    <td>{{user.isActive}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
