<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">My Profile Info</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-condensed table-responsive" id="profileTable">
            <tr>
                <td>First Name</td>
                <td id="profileUserDetail">{{vm.firstName}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id="profileUserDetail">{{vm.lastName}}</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td id="profileUserDetail">{{vm.userName}}</td> <!--Create a details page for editing user info in the profile -->
            </tr>
            <tr>
                <td>Email Address</td>
                <td id="profileUserDetail">{{vm.emailAddress}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td id="profileUserDetail">{{vm.password}}</td>
            </tr>
        </table>
        <button class="btn btn-primary" ng-click="vm.editProfile()">Edit Details</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">My Setup</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">My Gear</h2>
        <table class="table table-condensed table-responsive" id="gearTable">
            <tr ng-repeat="gear in vm.userGear">
                <td></td>
                <td id="gearDetail"></td>
                <td><a href="/newGearModal"></a></td>
            </tr>
        </table>
        <button class="btn btn-primary" id="profileReqBtn" ng-click="vm.addNewGear()">Add gear</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">My Space</h2>
        <table class="table table-condensed table-responsive" id="spaceTable">
            <tr ng-repeat="space in vm.userSpace">
                <td></td>
                <td id="spaceTable"></td>
                <td><a href="/newSpaceModal"></a></td>
            </tr>
        </table>
        <button class="btn btn-primary" id="profileReqBtn" ng-click="vm.addUserSpace()">Add space info</button>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="profilePostList">
        <h2 class="text-center">My requests</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date Created</th>
                    <th>Replies</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button class="btn btn-primary" id="profileReqBtn" ng-click="vm.addNewRequest()">Add new request</button> <!--can I refer to 2 controllers in the same html file?-->
    </div>
</div>

