<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">My Profile</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-condensed table-responsive" id="profileTable">
            <tr>
                <td>First Name</td>
                <td id="profileUserDetail">{{vm.firstName}}</td>
                <td><a href="/profileModal">Edit</a></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id="profileUserDetail">{{vm.lastName}}</td>
                <td><a href="/profileModal">Edit</a></td>
            </tr>
            <tr>
                <td>User Name</td>
                <td id="profileUserDetail">{{vm.userName}}</td>
                <td><a href="/profileModal">Edit</a></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td id="profileUserDetail">{{vm.emailAddress}}</td>
                <td><a href="/profileModal">Edit</a></td>
            </tr>
            <tr>
                <td>Password</td>
                <td id="profileUserDetail">{{vm.password}}</td>
                <td><a href="/profileModal">Edit</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="profilePostList">
        <h2 class="text-center">My requests</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date Created</th>
                    <th>Replies</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button class="btn btn-primary" id="profileReqBtn" ng-click="modal.addNewRequest()">Add new request</button> <!--can I refer to 2 controllers in the same html file?-->
    </div>
</div>

