<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">My Profile Info</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-condensed table-responsive" id="profileTable">
            <tr>
                <td>First Name</td>
                <td id="profileUserDetail">{{vm.userProfileInfo.firstName}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id="profileUserDetail">{{vm.userProfileInfo.lastName}}</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td id="profileUserDetail">{{vm.userProfileInfo.userName}}</td> <!--Create a details page for editing user info in the profile -->
            </tr>
            <tr>
                <td>Email Address</td>
                <td id="profileUserDetail">{{vm.userProfileInfo.emailAddress}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td id="profileUserDetail">{{vm.userProfileInfo.password}}</td>
            </tr>
        </table>
        <button class="btn btn-primary" ng-click="vm.editProfile()">Edit Details</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">My Setup</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">My Gear</h2>
        <table class="table table-condensed table-responsive" id="gearTable">
            <tr ng-repeat="gear in vm.userProfileInfo.userGear">
                <td>{{gear.title}}</td>
                <td>{{gear.description}}</td>
                <td>{{gear.category}}</td>
                <td>{{gear.subCategory}}</td>
                <td><button class="btn btn-primary" ng-click="vm.editGear(gear.id)">Edit</button><button class="btn btn-primary" ng-click="vm.deleteGear(gear.id)">Delete</button></td>
            </tr>
        </table>
        <button class="btn btn-primary" id="profileReqBtn" ng-click="vm.addNewGear()">Add gear</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">My Space</h2>
        <table class="table table-condensed table-responsive" id="spaceTable">
            <tr>
                <td>{{vm.userProfileInfo.userSpace.description}}</td>
                <td>{{vm.userProfileInfo.userSpace.title}}</td>
            </tr>
        </table>
        <h2>{{vm.file.filename}}</h2>
        <img ng-src="{{vm.file.url}}" alt="{{vm.file.filename}}" />
        <button class="btn btn-primary" id="profileReqBtn" ng-click="vm.addUserSpace()">Add space info</button>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="profilePostList">
        <h2 class="text-center">My requests</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                    <th>Replies</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in vm.userProfileInfo.requests">
                    <td><a href="/details/{{request.id}}">{{request.title}}</a></td>
                    <td>{{request.dateCreated}}</td>
                    <td>{{request.noOfReplies}}</td>
                    <td><button class="btn btn-primary" ng-click="vm.editRequest(request.id)">Edit</button><button class="btn btn-primary" ng-click="vm.deleteRequest(request.id)">Delete</button><button id="profileUploadBtn" class="btn btn-primary" ng-show="textSubmitted" ng-click="modal.pickFile()"></button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" id="profileReqBtn" ng-click="vm.addNewRequest()">Add new request</button>        
    </div>
</div>

