<form ng-submit="vm.userReply()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>{{vm.request.title}}</h3>
            <p>{{vm.request.description}}</p>
            <div ng-controller="AccountController as account">
                <textarea ng-hide="!account.isLoggedIn()" ng-model="vm.reply.message" cols="50" rows="10"></textarea>
                <button ng-hide="!account.isLoggedIn()" type="submit">Reply to this request</button>
                <h3 ng-show="!account.isLoggedIn()">Please login to leave a comment</h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1" id="audioPlayer">
                    <script>
            audiojs.events.ready(function () {
                var as = audiojs.createAll();
            });
                    </script>
                    <audio src="https://www.filestackapi.com/api/file/btmPjq9Tsismhr4yssbq" preload="none" />
                </div>
            </div>          
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div ng-repeat="reply in vm.replyView.replies">
            <h3>{{reply.user.userName}}</h3>
            <p>{{reply.message}}</p>
        </div>     
    </div>
</div>

